<p>
  <b>Id:</b>
  <%=h @staff.id%>
</p>
<p>
  <b>Name:</b>
  <%=h @staff.name %>
</p>
<p>
  <b>Danwei:</b>
  <%=h @staff.danwei%>
</p>

<p>
  <b>Zhiwu:</b>
  <%=h @staff.zhiwu%>
</p>
<p>
  <b>Hzhaoma:</b>
  <%=h @staff.hzhaoma%>
</p>
<p>
  <b>Hzghriqi:</b>
  <%=h @staff.hzghriqi%>
</p>
<p>
  <b>Pyname:</b>
  <%=h @staff.pyname %>
</p>

<p>
  <b>Spyname:</b>
  <%=h @staff.spyname %>
</p>

<p>
  <b>Sync_state:</b>
  <%=h @staff.sync_state %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @staff.birthday %>
</p>

<p>
  <b>Sex:</b>
  <%=h @staff.sex %>
</p>

<p>
  <b>Note:</b>
  <%=h @staff.note %>
</p>


<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
