<p>
  <b>Staff:</b>
  <%=h @staffd.staff_id %>
</p>

<p>
  <b>Danwei:</b>
  <%=h @staffd.danwei %>
</p>

<p>
  <b>Zhiwu:</b>
  <%=h @staffd.zhiwu %>
</p>


<%= link_to 'Edit', edit_staffd_path(@staffd) %> |
<%= link_to 'Back', staffds_path %>
