<p>
  <b>Email:</b>
  <%=h @bb_auth_user.email %>
</p>

<p>
  <b>Displayname:</b>
  <%=h @bb_auth_user.displayname %>
</p>

<p>
  <b>Userhash:</b>
  <%=h @bb_auth_user.userhash %>
</p>


<%= link_to 'Edit', edit_bb_auth_user_path(@bb_auth_user) %> |
<%= link_to 'Back', bb_auth_users_path %>
