<p>
  <b>Sriqi:</b>
  <%=h @activity.sriqi %>
</p>

<p>
  <b>Dguojia:</b>
  <%=h @activity.dguojia %>
</p>

<p>
  <b>Renwu:</b>
  <%=h @activity.renwu %>
</p>

<p>
  <b>Cfshijian:</b>
  <%=h @activity.cfshijian %>
</p>

<p>
  <b>Tltianshu:</b>
  <%=h @activity.tltianshu %>
</p>

<p>
  <b>Ztdanwei:</b>
  <%=h @activity.ztdanwei %>
</p>

<p>
  <b>Yqdanwei:</b>
  <%=h @activity.yqdanwei %>
</p>

<p>
  <b>Rwpihao:</b>
  <%=h @activity.rwpihao %>
</p>

<p>
  <b>Hzhaoma:</b>
  <%=h @activity.hzhaoma %>
</p>

<p>
  <b>Hzghriqi:</b>
  <%=h @activity.hzghriqi %>
</p>

<p>
  <b>Sync state:</b>
  <%=h @activity.sync_state %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
